.img
{
    width: 25%;
    height: 25%;
}
.container{
    text-align: center;
}
body{
    background-color: lemonchiffon;
}

.colorPuntosRojos{
  color: red;
}

.colorPuntosVerdes{
    color: rgb(6, 204, 6);
  }